.square {
  border-style: groove;
  width: 200px;
  height: 200px;
  border-color: black;
  float: left;
}

.float-clear {
  clear: left;
}

.transparente{
  opacity: 0.5;
}

.transparente:hover{
  opacity: 0.7;
}

.red {
  background-color: red;  
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}