
$red: red;
$green: #4ef542;
$blue: #1d00ff;
$yellow: yellow;
$black: black;
$white: white;

body {
    background: linear-gradient(#222, #000);
    font-family: 'Segoe UI', sans-serif;
}

@mixin square($color) {
    border-style: groove;
    width: 200px;
    height: 200px;
    border-color: $black;
    float: left;
    background-color: $color;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    transition: filter .2s, box-shadow .2s;
}

.sq_red {
    @include square($red);
    border-radius: 0 100% 0 0;
}

.sq_green {
    @include square($green);
    border-radius: 100% 0 0 0;
}

.sq_yellow {
    @include square($yellow);
    border-radius: 0 0 0 100%;
}

.sq_blue {
    @include square($blue);
    border-radius: 0 0 100% 0;
}

.container {
    position:relative;
    z-index: 1;
    margin: 0 auto;
    width: 34%;
}

.float-clear {
    clear: left;
}

.transparente{
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.evidencia{
    opacity: 1;
    filter: brightness(1.3);
    box-shadow: 0 0 20px $white;
}

.align-center {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $white;
}

.level {
    text-align: center;
    color: $white;
    margin-top: 5px;
    font-size: 1.2rem;
}

.mt-10 {
    margin-top: 10px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.4);
}